services:
  infrahub:
    image: registry.opsmill.io/opsmill/infrahub:0.16
    command: infrahub server start --debug
    environment:
      INFRAHUB_DB_TYPE: memgraph
      INFRAHUB_DB_HOSTNAME: database
      INFRAHUB_DB_PORT: 7687
      INFRAHUB_BROKER_TYPE: rabbitmq
      INFRAHUB_BROKER_HOST: message_queue
      INFRAHUB_BROKER_PORT: 5672
      INFRAHUB_CACHE_TYPE: redis
      INFRAHUB_CACHE_HOST: cache
      INFRAHUB_CACHE_PORT: 6379
      INFRAHUB_SECURITY_INITIAL_ADMIN_TOKEN: 18795e9c-b6db-fbff-cf87-10652e494a9a
      INFRAHUB_ALLOW_ANONYMOUS_TELEMETRY: false
    ports:
      - "8000:8000"
    depends_on:
      - database
      - message_queue
      - cache
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/info"]
      interval: 10s
      retries: 10

  database:
    image: memgraph/memgraph:latest
    ports:
      - "7687:7687"
    command: ["--memory-limit=2147483648", "--log-level=WARNING"]

  message_queue:
    image: rabbitmq:3.12-management
    environment:
      RABBITMQ_DEFAULT_USER: infrahub
      RABBITMQ_DEFAULT_PASS: infrahub
    ports:
      - "5672:5672"
      - "15672:15672"

  cache:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  gitlab-runner:
    image: gitlab/gitlab-runner:latest
    volumes:
      - ./:/network-configs
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - CI_SERVER_URL=http://gitlab.com
    profiles:
      - ci

