apiVersion: v1
kind: Service
metadata:
  name: bgp-detector
  labels:
    app: bgp-detector
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: bgp-detector

---
apiVersion: v1
kind: Service
metadata:
  name: bgp-detector-metrics
  labels:
    app: bgp-detector
spec:
  type: ClusterIP
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: metrics
  selector:
    app: bgp-detector

